
  <div class="col-md-8">
  <h1>New/Edit FAQ</h1>
    <div class="originator-form admin-page">
      <%= form_for [@faq] do |f| %>
        <%= f.label :question %>
        <%= f.text_field :question %><br>
        <%= f.label :answer %>
        <%= f.text_area :answer %><br>
        <%= f.submit "Save", class: "btn-mod"%>

        <% end %>  
    </div>
  </div>

