<% flash.map do |key, msg| %>
  <%= content_tag :div, msg, id: key, class: 'flash-messages'%>
<% end %>
<div class="col-md-12">
  <h1> All applicants </h1>
  <div class="total-applicants">
    <p>Total applicants: <%= @total %></p>
  </div>

  <div class="all-applicants admin-page">
    <table>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Company or individual</th>
        <th>Which model?</th>
        <th>Referrer</th>
      </tr>
      <% @applicants.each do |applicant| %>
      <tr>
        <td><%= link_to applicant.firstname, applicant_path(applicant) %></td>
        <td><%=applicant.lastname%></td>
        <td><%=applicant.email%></td>
        <td><%=applicant.orgtype%></td>
        <td><%=applicant.bmodel%></td>
        <td><%=applicant.referrer%></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>