<div class="row">
  <div class="col-md-8">
  <h1>New Originator</h1>
    <div class="originator-form">
      <%= form_for [@originator] do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %><br>
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle %><br>
        <%= f.label :website %>
        <%= f.text_field :website %><br>
        <%= f.label :url %>
        <%= f.text_field :url %><br>
        <%= f.label :about1 %>
        <%= f.text_area :about1 %><br>
        <%= f.label :about2 %>
        <%= f.text_area :about2 %><br>
        <%= f.label :location %>
        <%= f.text_field :location %><br>
        <%= f.label :sector %>
        <%= f.text_field :sector %><br>
        <%= f.label :adopterprofile %>
        <%= f.text_field :adopterprofile %><br>
        <%= f.label :founded %>
        <%= f.text_field :founded %><br>
        <%= f.label :employees %>
        <%= f.text_field :employees %><br>
        <%= f.label :turnover %>
        <%= f.text_field :turnover %><br>
        <%= f.label :profit %>
        <%= f.text_field :profit %><br>
        <%= f.label :bmodel %>
        <%= f.text_area :bmodel %><br>
        <%= f.label :partners %>
        <%= f.text_area :partners %><br>
        <%= f.label :relationships %>
        <%= f.text_area :relationships %><br>
        <%= f.label :coststructure %>
        <%= f.text_area :coststructure %><br>
        <%= f.label :revenue %>
        <%= f.text_area :revenue %><br>
        <%= f.label :customerbase %>
        <%= f.text_area :customerbase %><br>
        <%= f.label :feature %>
        <%= f.text_area :feature %><br>
        <%= f.label :impacttitle1 %>
        <%= f.text_field :impacttitle1 %><br>
        <%= f.label :impacttext1 %>
        <%= f.text_area :impacttext1 %><br>
        <%= f.label :impacttitle2 %>
        <%= f.text_field :impacttitle2 %><br>
        <%= f.label :impacttext2 %>
        <%= f.text_area :impacttext2 %><br>
        <%= f.label :impacttitle3 %>
        <%= f.text_field :impacttitle3 %><br>
        <%= f.label :impacttext3 %>
        <%= f.text_area :impacttext3 %><br>
        <%= f.label :growthopportunity %>
        <%= f.text_area :growthopportunity %><br>
        <%= f.label :replicationtitle1 %>
        <%= f.text_field :replicationtitle1 %><br>
        <%= f.label :replicationtext1 %>
        <%= f.text_area :replicationtext1 %><br>
        <%= f.label :replicationtitle2 %>
        <%= f.text_field :replicationtitle2 %><br>
        <%= f.label :replicationtext2 %>
        <%= f.text_area :replicationtext2 %><br>
        <%= f.label :replicationtitle3 %>
        <%= f.text_field :replicationtitle3 %><br>
        <%= f.label :replicationtext3 %>
        <%= f.text_area :replicationtext3 %><br>
        <%= f.label :bg_img %>
        <%= f.text_field :bg_img %><br>
        <%= f.label :growth_img %>
        <%= f.text_field :growth_img %><br>
        <%= f.submit "Save" %>

        <% end %>  
    </div>
  </div>
</div>
