

<!-- Page Wrap -->
<div class="page" id="top">
    
    
    <!-- Navigation panel -->
    <nav class="main-nav js-stick">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="/" class="logo">
                    <img src="/meetandmultiply-logo.png" alt="Meet and Multiply" />
                </a>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            <!-- main menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist scroll-nav local-scroll">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#contact-us">Contact us</a></li>
                    <li>
                        <a href="/#apply"><span class="btn btn-mod btn-color btn-circle">Apply</span></a>
                    </li>
                   
                </ul>
            </div>
            <!-- End Main Menu -->
        </div>
    </nav>
    <!-- End Navigation panel -->
    
    
    <!-- Head Section -->
    <section class="small-section bg-dark-alfa-30 ekutir" style="background-image: url(<%= @originator.bg_img %>);" >
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="section-heading mb-10 mb-xs-0"><%=@originator.title%></h1>
                    <div class="hs-line-4 uppercase">
                        <%=@originator.subtitle%>
                    </div>
                </div>
                
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs align-right">
                        <a href=<%=@originator.url%> target="_blank"><%=@originator.website%></a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Head Section -->
    
    
    <!-- About Section -->
    <section class="page-section" id="about">
        <div class="container relative">
            
            <div class="section-text mb-60 mb-sm-40">
                <div class="row">
                    
                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                        <%=@originator.about1%> 
                    </div>
                    
                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                        <%=@originator.about2%> 
                    </div>
                    
                    <div class="col-md-4 col-sm-12 mb-sm-50 mb-xs-30">
                         
                        <!-- Bar Item -->
                        <div class="originator-info-item">
                            <div class="originator-info-point">
                                <span class="color">Location:</span> <%=@originator.location%>
                            </div>
                        </div>
                        <!-- End Bar Item -->
                        
                        <!-- Bar Item -->
                        <div class="originator-info-item">
                            <div class="originator-info-point">
                                <span class="color">Sector:</span> <%=@originator.sector%>
                            </div>
                        </div>
                        <!-- End Bar Item -->
                        
                        <!-- Bar Item -->
                        <div class="originator-info-item">
                            <div class="originator-info-point">
                                <span class="color">Adopter profile:</span> <%=@originator.adopterprofile%>
                            </div>
                        </div>
                        <!-- End Bar Item -->
                         
                    </div>
                    
                </div>
            </div>
            
            
            <!-- Counters -->
            <div class="count-wrapper">
                <div class="row">
                    
                    <!-- Counter Item -->
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number color">
                            <%=@originator.founded%>
                        </div>
                        <div class="count-descr">
                            <i class="fa fa-lightbulb-o"></i>
                            <span class="count-title">Founded</span>
                        </div>
                    </div>
                    <!-- End Counter Item -->
                    
                    <!-- Counter Item -->
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number color">
                            <%=@originator.employees%>
                        </div>
                        <div class="count-descr">
                            <i class="fa fa-child"></i>
                            <span class="count-title">Employees</span>
                        </div>
                    </div>
                    <!-- End Counter Item -->
                    
                    <!-- Counter Item -->
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number color">
                            <%=@originator.turnover%>
                        </div>
                        <div class="count-descr">
                            <i class="fa fa-usd"></i>
                            <span class="count-title">Annual turnover (USD)</span>
                        </div>
                    </div>
                    <!-- End Counter Item -->
                    
                    <!-- Counter Item -->
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number color">
                            <%=@originator.profit%>
                        </div>
                        <div class="count-descr">
                            <i class="fa fa-line-chart"></i>
                            <span class="count-title">Profit margin</span>
                        </div>
                    </div>
                    <!-- End Counter Item -->
                    
                </div>
            </div>
            <!-- End Counters -->
            
        </div>
    </section>
    <!-- End About Section -->
    
    <!-- Features Section -->
    <section class="page-section bg-gray-lighter">
        <div class="container relative">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <!-- Section Titles -->
                    <h1 class="section-title mb-10">
                        How it works
                    </h1>
                    <h2 class="section-heading">
                        The business model
                    </h2>
                    <!-- End Section Titles -->
                    
                    <div class="section-line mb-50 mb-xs-30"></div>
                    
                    <!-- Section Text -->
                    <div class="section-text mb-80 mb-xs-50">
                        <%=@originator.bmodel%>
                    </div>
                    <!-- End Section Text -->
                    
                </div>
            </div>
            
            <div></div>
            
            <!-- Features Grid -->
            <div class="row multi-columns-row alt-features-grid">
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class="icon-key"></span>
                        </div>
                        <h3 class="alt-features-title">Key Partners, Activities and Resources</h3>
                        <div class="alt-features-descr">
                            <%=@originator.partners%> 

                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class="icon-piechart"></span>
                        </div>
                        <h3 class="alt-features-title">Customer Relationships, Channels and Segments</h3>
                        <div class="alt-features-descr">
                            <%=@originator.relationships%>
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class="icon-pricetags"></span>
                        </div>
                        <h3 class="alt-features-title">Cost structure</h3>
                        <div class="alt-features-descr">
                            <%=@originator.coststructure%>
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class="icon-wallet"></span>
                        </div>
                        <h3 class="alt-features-title">Additional revenue streams</h3>
                        <div class="alt-features-descr">
                            <%=@originator.revenue%> 

                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class="icon-happy"></span>
                        </div>
                        <h3 class="alt-features-title">Customer base</h3>
                        <div class="alt-features-descr">
                            <%=@originator.customerbase%> 
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class="icon-ribbon"></span>
                        </div>
                        <h3 class="alt-features-title">Other features</h3>
                        <div class="alt-features-descr">
                            <%=@originator.feature%>
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
            </div>
            <!-- End Features Grid -->
        
        </div>
    </section>
    <!-- End Features Section -->
    
    <!-- Testimonials Section -->
    <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider ekutir" style="background-image: url(<%= @originator.bg_img %>);">
        
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        
                        <!-- Section Icon -->
                        <div class="section-icon">
                            <span class="icon-linegraph"></span>
                        </div>
                        
                        <!-- Section Title -->
                        <h2 class="section-title uppercase strong">Impact</h2>
                        <h3 class="section-title mb-30"><%=@originator.impacttitle1%></h3>
                        
                        <blockquote class="testimonial white">
                            <p>
                                <%=@originator.impacttext1%>
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
        
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        
                        <!-- Section Icon -->
                        <div class="section-icon">
                            <span class="icon-linegraph"></span>
                        </div>
                        
                        <!-- Section Title -->
                        <h2 class="section-title uppercase strong">Impact</h2>
                        <h3 class="section-title mb-30"><%=@originator.impacttitle2%></h3>
                        
                        <blockquote class="testimonial white">
                            <p>
                                <%=@originator.impacttext2%> 
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
        
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        
                        <!-- Section Icon -->
                        <div class="section-icon">
                            <span class="icon-linegraph"></span>
                        </div>
                        
                        <!-- Section Title -->
                        <h2 class="section-title uppercase strong">Impact</h2>
                        <h3 class="section-title mb-30"><%=@originator.impacttitle3%></h3>
                        
                        <blockquote class="testimonial white">
                            <p>
                                <%=@originator.impacttext3%>
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
        
    </section>
    <!-- End Testimonials Section -->
    
    
    
    <!-- Promo Section -->
    <section class="split-section bg-gray">
        <div class="clearfix relative">
            
            <!-- Section Headings -->
            <div class="split-section-headings left">
                <div class="ssh-table">
                    <div class="ssh-cell page-section bg-scroll ekutir-growth" style="background-image: url(<%= @originator.growth_img %>);"></div>
                </div>
            </div>
            <!-- End Section Headings -->
            
            <!-- Section Content -->
            <div class="split-section-content right small-section bg-gray-lighter">
                
                <div class="split-section-wrapper">
                    
                    <h1 class="section-title">Recreate this model in Latin America</h1>
                    
                    <h2 class="section-heading uppercase strong">Growth opportunity</h2>
                    
                    <div class="section-text mb-60">
                        <%=@originator.growthopportunity%>
                    </div>
                    
                </div>
                
            </div>
            <!-- End Section Content -->
            
        </div>
    </section>
    <!-- End Promo Section -->
    
    <!-- Story Section -->
    <section class="page-section">
        <div class="container relative">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <!-- Section Titles -->
                    <h1 class="section-title mb-10">
                        Do you match the Adopter profile?
                    </h1>
                    <h2 class="section-heading mb-60 mb-xs-40">
                        What we are looking for in potential partners
                    </h2>
                    <!-- End Section Titles -->
                    
                </div>
            </div>                  
            
            <!-- Our Story -->
            <div class="row">
                
                <!-- Col -->
                
                <div class="col-sm-10 col-sm-offset-1">
                    
                    <!-- Nav Tabs -->
                    <div class="align-center mb-40 mb-xxs-30">
                        <ul class="nav nav-tabs tpl-minimal-tabs animate">
                            
                            <li class="active">
                                <a href="#mini-one" data-toggle="tab"><%=@originator.replicationtitle1%></a>
                            </li>
                            
                            <li>
                                <a href="#mini-two" data-toggle="tab"><%=@originator.replicationtitle2%></a>
                            </li>
                            
                            <li>
                                <a href="#mini-three" data-toggle="tab"><%=@originator.replicationtitle3%></a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- End Nav Tabs -->
                    
                    <!-- Tab panes -->
                    <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                        
                        <div class="tab-pane fade in active" id="mini-one">
                            <%=@originator.replicationtext1%>
                        </div>
                        
                        <div class="tab-pane fade" id="mini-two">
                            <%=@originator.replicationtext2%>
                        </div>
                        
                        <div class="tab-pane fade" id="mini-three">
                            <%=@originator.replicationtext3%>
                        </div>
                        
                    </div>

                    
                </div>
                
                <!-- End Col -->                        
                
            </div>
            <!-- End Story -->
        </div>
    </section>
    <!-- End Story Section -->

    <!-- Process Section -->
    <section class="page-section bg-gray-lighter">
        <div class="container relative">
            
            <!-- Features Grid -->
            <div class="row alt-features-grid">
                
                <!-- Text Item -->
                <div class="col-sm-3">
                    <div class="alt-features-item">
                        <div class="alt-features-descr">
                            <h4 class="mt-0">Further documentation</h4>
                            Download this profile as a PDF or take a look at additional publications from or about this company.
                        </div>
                    </div>
                </div>
                <!-- End Text Item -->
                
                <!-- Features Item -->
                <div class="col-sm-3">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class="icon-download"></span>
                        </div>
                        <h3 class="alt-features-title">
                            <a href="<%=@originator.profile_path%>">Download this profile</a>
                        </h3>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-3">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class=" icon-document"></span>
                        </div>
                        <h3 class="alt-features-title">
                            <a href="<%=@originator.report1_path%>" target="_blank"><%=@originator.report1_title%></a>
                        </h3>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-3">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon color">
                            <span class=" icon-document"></span>
                        </div>
                        <h3 class="alt-features-title">
                            <a href="<%=@originator.report2_path%>" target="_blank" ><%=@originator.report2_title%></a>
                        </h3>
                    </div>
                </div>
                <!-- End Features Item -->
                
           </div>
           <!-- End Features Grid -->
            
        </div>
    </section>
    <!-- End Process Section -->            
            
            
    <!-- Call Action Section -->
    <section class="small-section bg-color-alfa-90 bg-scroll call-to-action">
        <div class="container relative">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <h1 class="section-title large">Interested in working with this company?</h1>
                    
                    <h2 class="section-heading uppercase strong">Apply to be an Adopter</h2>
                    
                    <div class="local-scroll">
                        <a href="/#apply" class="btn btn-mod btn-border-w btn-large">Apply now</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Call Action Section -->
   
    <!-- Foter -->
    <footer class="small-section bg-dark footer pb-60">
        <div class="container">
            
            <!-- Social Links -->
            <div class="footer-social-links mb-60 mb-xs-40">
                <a href="https://www.facebook.com/pages/Endeva/234763126582163" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/_Endeva" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/grp/home?gid=4143187" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- End Social Links -->  
            
            <!-- Footer Text -->
            <div class="footer-text">
                
                <!-- Copyright -->
                <div class="footer-copy">
                    <a href="http://www.endeva.org" target="_blank">&copy; Endeva 2015</a>
                </div>
                <!-- End Copyright -->
                
                <div class="footer-made">
                    <a href="http://www.endeva.org" target="_blank">www.endeva.org</a>
                </div>
                
            </div>
            <!-- End Footer Text --> 
            
         </div>
         
         
         <!-- Top Link -->
         <div class="local-scroll">
             <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
         </div>
         <!-- End Top Link -->
         
    </footer>
    <!-- End Foter -->



</div>
<!-- End Page Wrap -->

